#!/bin/bash

wgifname="wg0" # wireguard interface name
serveraddress="10.8.0.1" # your server's address on the wireguard network
endpointip="0.0.0.0" # your server public ip
listenport="51820" # your server desired listening port for wireguard
# Uncomment the following to add a DNS server to each user config
#dns="10.8.0.1"
defaultallowedips="0.0.0.0/0" # FORWARD ALL TRAFFIC

# ADVANCED
# Add a PostUp/PostDown section to the wireguard server config.
# Allows forwarding / firewall passthrough, server will not work if forwarding is not configured.
# Either configure your own firewall to allow the server to forward through, or configure this.
# waniface should be the only variable needing configuration. It is the interface name of your
# connection to the internet.

# To configure / enable, uncomment the line 'postenabled=true' and change 'waniface' to your internet
# connection's interface
#postenabled=true
waniface="eth0"                                                                                       
wgpostup="iptables -A FORWARD -i ${wgifname} -j ACCEPT; iptables -A FORWARD -o ${wgifname} -j ACCEPT; iptables -t nat -A POSTROUTING -o ${waniface} -j MASQUERADE"                                          
wgpostdown="iptables -D FORWARD -i ${wgifname} -j ACCEPT; iptables -D FORWARD -o ${wgifname} -j ACCEPT; iptables -t nat -D POSTROUTING -o ${waniface} -j MASQUERADE"
